body {
    background-image: url("background.jpg");
    /*background-repeat: repeat;*/
}

.bonus {
	display: none;
}

.search {
	margin: 4em;
}

img:hover {
	opacity: 0.4;
}
h1, h3 {
	font-family: 'Bangers', cursive;
}

h1 {
	font-size: 6em;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	color: #FF4719;
}